.header {
    background-color: #6a0dad; /* Morado */
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}